.edit-app-container {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: white;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .text-area{
      width:300px;
    }

  }
}
